@model MVCKÜTÜPHANE.Models.Entity.Tbl_Kitap

<div class="bricks-wrapper">

    <div class="grid-sizer"></div>

    <div class="brick entry featured-grid animate-this">
        <div class="entry-content">
            <div id="featured-post-slider" class="flexslider">
                <ul class="slides">

                    <li>
                        <div class="featured-post-slide">

                            <div class="post-background" style="background-image: url('../../template/abstract10/images/thumbs/featured/kütüphane2.jpg'); height: 600px; width: 700px; "></div>

                            <div class="overlay"></div>
                            
                        </div>
                    </li> <!-- /slide -->

                    <li>
                        <div class="featured-post-slide">

                            <div class="post-background" style="background-image: url('../../template/abstract10/images/thumbs/featured/kütüphane3.jpg'); height: 600px; width: 700px; "></div>

                            <div class="overlay"></div>                           

                        </div>
                    </li> <!-- /slide -->

                    <li>
                        <div class="featured-post-slide">

                            <div class="post-background" style="background-image: url('../../template/abstract10/images/thumbs/featured/kütüphane4.jpg'); height: 600px; width: 680px; "></div>

                            <div class="overlay"></div>
                           
                        </div>
                    </li> <!-- end slide -->

                </ul> <!-- end slides -->
            </div> <!-- end featured-post-slider -->
        </div> <!-- end entry content -->
    </div>

    <article class="brick entry format-standard animate-this">

        <div class="entry-thumb">
            <a href="single-standard.html" class="thumb-link">
                <img src="~/Template/Abstract10/images/thumbs/kaşağı.jpg" alt="building">
            </a>
        </div>

        <div class="entry-text">
            <div class="entry-header">

                <div class="entry-meta">
                    <span class="cat-links">
                    </span>
                </div>

                <h1 class="entry-title"><a href="single-standard.html">Kaşağı</a></h1>

            </div>
            <div class="entry-excerpt">
                İki kardeş olan Hasan ve Kahraman ailesiyle birlikte bir çiftlik evinde yaşarlar. Bu çiftlikte atlar da bulunmaktadır. Her çocuk gibi onların da atlara olan ilgisi büyüktür. Çiftlikte atların bakımını, yemeğini ve temizliklerini çiftliğin seyisi olan Dadaruh diye birisi yapar. Çocuklar her gün Dadaruh' un atları kaşağı lamasını ve atlara bakım yapmasını izlerler...
            </div>
        </div>

    </article> <!-- end article -->

    <article class="brick entry format-standard animate-this">

        <div class="entry-thumb">
            <a href="single-standard.html" class="thumb-link">
                <img src="~/Template/Abstract10/images/thumbs/bir aşk masalı.jpg" alt="ferris wheel">
            </a>
        </div>

        <div class="entry-text">
            <div class="entry-header">
                
                <h1 class="entry-title"><a href="single-standard.html">Bir Aşk Masalı.</a></h1>

            </div>
            <div class="entry-excerpt">
                Evvel zaman içinde kalbur saman içinde; toprak ne bu kadar çorak, ne gökyüzü bu kadar puslu, ne denizler bu kadar kirli, ne de kentler bu kadar çirkinmiş. Yeryüzünde sadece beş kıta ve bu beş kıtada sadece beş ülke varmış. Her mevsim karlarla örtülü olan Buz Ülkesi, Çöllerin ortasında olan Kum Ülkesi, denizin ortasında kocaman bir ada gibi olan Su Ülkesi, fırtınası eksik olmayan Rüzgâr Ülkesi, hepsinden yüksek olan ise Dağ Ülkesi imiş. Bu beş ülkenin hükümdarları ülkelerini adilce yönettikleri için hiç savaş olmazmış. Hükümdarların tek varisleri aynı rüyayı aynı gece görene kadar her şey huzur içinde devam ediyormuş.
            </div>
        </div>

    </article> <!-- end article -->
    <!-- format audio here -->
    <article class="brick entry format-audio animate-this">

        <div class="entry-thumb">
            <a href="single-audio.html" class="thumb-link">
                <img src="~/Template/Abstract10/images/thumbs/vurun kahpeye.jpg" alt="concert">
            </a>

            <div class="audio-wrap">
                <audio id="player" src="media/AirReview-Landmarks-02-ChasingCorporate.mp3" width="100%" height="42" controls="controls"></audio>
            </div>
        </div>

        <div class="entry-text">
            <div class="entry-header">

                <h1 class="entry-title"><a href="single-audio.html">Vurun Kahpeye.</a></h1>

            </div>
            <div class="entry-excerpt">
                Aliye çocuklara ders vermek için köye gelmiştir. Burada Ali Rıza Efendi’nin evinde kalacaktır. Ali Rıza Efendi ile karısı, yıllar önce kaybettikleri kızlarıyla aynı yaşta olduğu için Aliye’yi çok sevip sahiplenmişlerdir. Yunan işgali de yaklaşmaktadır. Köyün önde gelenlerinden bazıları, çıkarları için düşmana yardım etmektedir. Köyde bulunan İmam Fettah, Aliye’ye sahip olmak için düşmanla işbirliği yapmıştır. Tosun Bey ise düşmanın gidişatını yavaşlatmak için elinden geleni yapar. Yunanlılar köye girdiğinde Fettah Hoca, canla başla Yunanlılar için çalışır. Öğretmen Aliye ise köydeki çocuklara vatanseverliği aşılamaktadır.
            </div>
        </div>

    </article> <!-- /article -->

    <article class="brick entry format-quote animate-this">

        <div class="entry-thumb">
            <blockquote>
                <p>Kitap okumak farklı hayatlara dokunmaktır. Ne kadar çok hayata dokunursan kendini o kadar çok geliştirirsin. Yeni kitap kokusunun heyecanı tarif edilemez. Sende benim gibi düşünüyorsan katıl aramıza.</p>

                <cite>Gizem Emniyetli</cite>
            </blockquote>
        </div>

    </article> <!-- end article -->

    <article class="brick entry animate-this">

        <div class="entry-thumb">
            <a href="single-standard.html" class="thumb-link">
                <img src="~/Template/Abstract10/images/thumbs/şeker portakalı.jpg" alt="Shutterbug">
            </a>
        </div>

        <div class="entry-text">
            <div class="entry-header">
               
                <h1 class="entry-title"><a href="single-standard.html">Şeker Portakalı.</a></h1>

            </div>
            <div class="entry-excerpt">
                Zeze, kalabalık bir ailenin beş yaşındaki çocuğudur. Hayal gücü yüksektir ve çok zekidir.Kendi kendini eğitmeye ve nesneleri öğrenmeye çalışır. Hatta erken yaşta okumayı öğrenmiştir ve okulda çok başarılıdır. Ancak yaramazlıklarıyla insanları bezdirmiştir. Diğer insanların aksine öğretmeni Cecilia Paim, Zeze’nin mükemmel bir çocuk olduğunu düşünür. Ailesi maddi sıkıntılar içinde yaşamaktadır. Babası işsizlik sıkıntısı çekip taşındıklarında gittiği yerde Zeze kendine bir şeker portakalı ağacı seçer ve onunla arkadaş olur              
            </div>
        </div>

    </article> <!-- end article -->

    <article class="brick entry animate-this">

        <div class="entry-thumb">
            <a href="single-standard.html" class="thumb-link">
                <img src="~/Template/Abstract10/images/thumbs/Bir_Ses_Böler_Geceyi.jpg" alt="USAF rocket">
            </a>
        </div>

        <div class="entry-text">
            <div class="entry-header">

                <h1 class="entry-title"><a href="single-standard.html">Bir Ses Böler Geceyi.</a></h1>

            </div>
            <div class="entry-excerpt">
                Şehirden oldukça uzak bir noktada bulunan kendi halinde bir köyün tam merkezinde bir cem evi yer almaktadır. Son derece karanlık bir gecede cem evinde tören yapılırken mezarlık duvarlarına bir cip çarpar. Bu çarpmanın ardından gece adeta bir ölüm sessizliğine bürünür. Hayatı inişler ve çıkışlar ile dolu olan bir araştırma görevlisi ise yine bir gece yaşanan bu gizemi çözmek ve araştırmak için çabalamaktadır. Ancak yaşanan olaylar onu çok daha farklı bir yola sürüklemektedir
            </div>
        </div>

    </article> <!-- end article -->

    <article class="brick entry format-gallery group animate-this">

        <div class="entry-thumb">

            <div class="post-slider flexslider">
                <ul class="slides">
                    <li>
                        <img src="~/Template/Abstract10/images/thumbs/gallery/Ahmet Ümit1.jpg">
                    </li>
                    <li>
                        <img src="~/Template/Abstract10/images/thumbs/gallery/Halide Edip Adıvar.jpg">
                    </li>
                    <li>
                        <img src="~/Template/Abstract10/images/thumbs/gallery/Ömer Seyfettin.jpg">
                    </li>
                </ul>
            </div>

        </div>

        <div class="entry-text">
            <div class="entry-header">
                
                <h1 class="entry-title"><a href="single-gallery.html">Yazarlarımız.</a></h1>

            </div>
            <div class="entry-excerpt">
                 Yazarlarımız bize farklı hayatların kapılarını açan anahtarlarımızdır. Kapıyı açıp aralık bırakırlar içeri girmek bize kalır.
            </div>
        </div>

    </article> <!-- end article -->

    <article class="brick entry animate-this">

        <div class="entry-thumb">
            <a href="single-standard.html" class="thumb-link">
                <img src="~/Template/Abstract10/images/thumbs/müfettiş.jpg" alt="Pattern">
            </a>
        </div>

        <div class="entry-text">
            <div class="entry-header">

                <h1 class="entry-title"><a href="single-standard.html">Müfettiş.</a></h1>

            </div>
            <div class="entry-excerpt">
                Yönettiği şehre kılık değiştirmiş bir müfettişin geldiğini öğrenen bir belediye başkanı, bütün bürokratlarını toplar ve müfettişin en iyi şekilde ağırlanmasını emreder. Yozlaşmış bürokratik ilişkilerdeki yöneticiler ne yapacaklarını şaşırmış durumdalar. Birkaç gündür şehirde olan iyi giyimli Khlestekov’un beklenen müfettiş olduğunu düşünüyorlar. Ancak Khlestakov bir müfettiş değil, zengin bir ev sahibinin oğludur.
            </div>
        </div>

    </article> <!-- end article -->

    <article class="brick entry animate-this">

        <div class="entry-thumb">
            <a href="single-standard.html" class="thumb-link">
                <img src="~/Template/Abstract10/images/thumbs/gece yarısı kütüphanesi.jpg" alt="Lighthouse">
            </a>
        </div>

        <div class="entry-text">
            <div class="entry-header">

                <h1 class="entry-title"><a href="single-standard.html"> Gece Yarısı Kütüphanesi.</a></h1>

            </div>
            <div class="entry-excerpt">
               Nora okuldan sonra yaşadığı yerde kalır. Artık ağabeyi ile çok sık görüşür ve müzik aletleri satan bir yerde çalışmaya başlar. Bir gece Ash’ten kedisinin evde öldüğü haberini alır. Ve sabahları bu duruma çok üzülerek işe gider ama işten de atılır. Hiçbir ümidi kalmayan Nora, antidepresan ilaçlarını alarak intihar eder. Ve bir Gece Yarısı Kütüphanesine ışınlanır. Kütüphaneci, çocukken gittiği ilkokulun kütüphanecisi olan Bayan Elm’dir. Bu kütüphanede saat her zaman 00:00’dır. Bir de insanın pişmanlık duyduğu bir kitap var, farklı seçimler yapsaydı hayatın nasıl olacağını gösteren sonsuz bir kitap.
            </div>
        </div>

    </article> <!-- end article -->

    <article class="brick entry animate-this">

        <div class="entry-thumb">
            <a href="single-standard.html" class="thumb-link">
                <img src="~/Template/Abstract10/images/thumbs/fareler ve insanlar.jpg" alt="Liberty">
            </a>
        </div>

        <div class="entry-text">
            <div class="entry-header">

                <h1 class="entry-title"><a href="single-standard.html">Fareler ve insanlar.</a></h1>

            </div>
            <div class="entry-excerpt">
                George ve Lennie, Amerika’ da yaşayan, çiftliklerde yaşayan toprak işçileridir. bu kişiler kendilerini diğer toprak işçilerinden farklı görürler. Çünkü işçiler kazandıkları parayı ya kumar oynayarak ya da genelevde harcamaktadır. Onların hayalleri vardır. Ve bu hayaller için biriktirdikleri para ile bir çiftlik satın alacaklarının hayalini kurarlar. Bu çiftlikte çeşitli hayvanlar besleyecekler ve tarımla uğraşmayı planlarlar. Şimdiye kadar gittikleri bütün çiftliklerde Lennie yüzünden kovulmuşlardır.
            </div>
        </div>

    </article> <!-- end article -->

</div>
